name: Java CI

on:
  push:
    branches:
      - master
      - main

jobs:
  buildJar:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Make gradlew executable
        run: chmod +x ./gradlew
        
      - name: Build plugin jar
        run: ./gradlew jar
        
      - name: Upload built jar file
        uses: actions/upload-artifact@v4
        with:
          name: TowerDefensePlugin
          path: build/libs/TowerDefensePlugin.jar

      - name: Automatic Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Development Build"
          files: |
            build/libs/TowerDefensePlugin.jar
